.banner{
    display: flex;
    text-align: right;
    position: relative;
    width: 100%;
    height: 300px;
    top: 100px;
    justify-content: center; 
    align-items: center;
    background: url(../../assets/img/fotobanner.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: "Montserrat";
    font-size: x-large;
    z-index: 1;  
    @media(min-width:651px){
        top:40px; 
    }
    @media(min-width:900px){
        top:80px; 
    }
}
